<div class="topbar_container">
  <div class="topbar"></div>
</div>
<div class="main">
  <h1>Not Found</h1>
  <p>A gist with ID <code><%= @id %></code> was not found. Check your link and try again, or go to the <a href='/'>homepage</a></p>
</div>
