@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 11, ../../sass/screen.scss */
body {
  background: #01222d;
  color: #d5dee2;
  font-size: 18px;
  line-height: 27px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.01em;
}

/* line 20, ../../sass/screen.scss */
.main {
  margin: 48px auto 30px;
  text-align: left;
  width: 510px;
}

/* line 25, ../../sass/screen.scss */
h1, h2, h3, h4, h5, h6, p, body {
  font-family: 'Whitney SSm A', 'Whitney SSm B', HelveticaNeue, 'Helvetica Neue', HelveticaNeueRoman, HelveticaNeue-Roman, 'Helvetica Neue Roman', Helvetica, Tahoma, Geneva, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-ren­der­ing: optimizeLegibility;
}

/* line 31, ../../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-weight: 700;
}

/* line 35, ../../sass/screen.scss */
p + h1, p + h2, p + h3, p + h4, p + h5, p + h6 {
  padding-top: 14px;
}

/* line 38, ../../sass/screen.scss */
h1 {
  font-size: 28px;
  letter-spacing: -0.04em;
  line-height: 32px;
  padding-bottom: 26px;
}

/* line 44, ../../sass/screen.scss */
h2 {
  font-size: 23px;
  line-height: 26px;
  padding-bottom: 24px;
  letter-spacing: -0.04em;
}

/* line 50, ../../sass/screen.scss */
h1, h2 {
  margin-left: -1px;
  /* Whitney seems to be pushing things slightly left for the large headers */
}

/* line 53, ../../sass/screen.scss */
* + h1 {
  padding-top: 12px;
}

/* line 56, ../../sass/screen.scss */
h3 {
  font-size: 19px;
  line-height: 22px;
  padding-bottom: 22px;
  letter-spacing: -0.03em;
}

/* line 62, ../../sass/screen.scss */
h4, h5, h6 {
  font-size: 17px;
  padding-bottom: 18px;
  line-height: 19px;
  letter-spacing: -0.03em;
}

/* line 68, ../../sass/screen.scss */
h5, h6 {
  color: #b6c7d3;
}

/* line 71, ../../sass/screen.scss */
em {
  font-style: italic;
}

/* line 74, ../../sass/screen.scss */
ul, ol {
  padding-left: 38px;
  margin-bottom: 30px;
}

/* line 78, ../../sass/screen.scss */
ul {
  list-style-type: disc;
}

/* line 81, ../../sass/screen.scss */
ol {
  list-style-type: upper-hexadecimal;
}

/* line 84, ../../sass/screen.scss */
ul li, ol li {
  margin: 16px 0;
}

/* line 87, ../../sass/screen.scss */
h1 + ul, h2 + ul, h3 + ul, h4 + ul, h5 + ul, h6 + ul, h1 + ol, h2 + ol, h3 + ol, h4 + ol, h5 + ol, h6 + ol {
  margin-top: -16px;
}

/* line 90, ../../sass/screen.scss */
p, blockquote {
  margin-bottom: 22px;
}

/* line 93, ../../sass/screen.scss */
div.highlight {
  margin-bottom: 34px;
}

/* line 96, ../../sass/screen.scss */
p + h1 {
  padding-top: 30px;
}

/* line 99, ../../sass/screen.scss */
blockquote {
  padding-left: 38px;
  border-left: 10px solid #184655;
}

/* line 103, ../../sass/screen.scss */
blockquote p {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
}

/* line 108, ../../sass/screen.scss */
blockquote blockquote {
  margin-top: 22px;
}

/* line 111, ../../sass/screen.scss */
.topbar_container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 2px;
}

/* line 118, ../../sass/screen.scss */
.topbar {
  background: rgba(123, 198, 220, 0.8);
  bordre-bottom: rgba(1, 20, 26, 0.8);
  height: 5px;
  width: 100%;
  margin: 0 auto;
}

/* line 125, ../../sass/screen.scss */
a {
  transition: all 0.4s;
}

/* line 128, ../../sass/screen.scss */
a:hover {
  text-decoration: none;
  color: #37bcff;
  text-shadow: 0 0 4px rgba(171, 227, 255, 0.43);
}

/* line 133, ../../sass/screen.scss */
a:active {
  color: #2db1f3;
}

/* line 136, ../../sass/screen.scss */
hr {
  margin: 30px 0;
  border: 0;
  border-top: 2px solid #184655;
}

/* line 141, ../../sass/screen.scss */
pre {
  background: #184655;
  padding: 19px 26px;
}

/* line 145, ../../sass/screen.scss */
pre code, code {
  color: #dee8e8;
  background: #184655;
}

/* line 149, ../../sass/screen.scss */
pre.prettyprint {
  border: 1px solid #3F546D;
  background: #184655;
  padding: 18px 25px;
  margin-bottm: 38px;
}

/* line 155, ../../sass/screen.scss */
li p a img {
  margin-top: 14px;
}

/* line 158, ../../sass/screen.scss */
code {
  border: 1px solid #031116;
  font-size: 15px;
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  margin: 0 2px;
  padding: 2px 5px 1px;
  position: relative;
  top: -2px;
}

/* line 167, ../../sass/screen.scss */
pre code {
  white-space: pre-wrap;
}

/* line 170, ../../sass/screen.scss */
a#original {
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 112px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -0.04em;
  font-size: 13px;
  color: #0F3C4B;
  border-top: 1px solid #052E3C;
  padding-top: 13px;
}

/* line 183, ../../sass/screen.scss */
a#original:hover {
  text-shadow: none;
  color: #2a5665;
  border-top: 1px solid #0d3a49;
}

/* line 188, ../../sass/screen.scss */
strong {
  font-weight: 900;
  color: #dce5eb;
}

@media only screen and (max-device-width: 1024px) {
  /* line 194, ../../sass/screen.scss */
  .main {
    overflow: hidden;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 199, ../../sass/screen.scss */
  .main {
    margin-top: 36px;
  }
}
@media only screen and (max-device-width: 480px) {
  /* line 204, ../../sass/screen.scss */
  .main {
    margin-top: 20px;
    width: 94%;
  }

  /* line 208, ../../sass/screen.scss */
  ul, ol {
    padding-left: 20px;
  }

  /* line 211, ../../sass/screen.scss */
  body {
    font-size: 16px;
  }

  /* line 214, ../../sass/screen.scss */
  blockquote p {
    font-size: 13px;
  }
}
